.hero-image {
  width: 100%;
  max-width: 1100px;
  display: block;
  margin: 2rem auto;
  border-radius: 0.75rem;
}

/* Default: light image visible */
.only-dark {
  display: none;
}

.only-light {
  display: block;
}

/* Dark mode */
[data-md-color-scheme="slate"] .only-light {
  display: none;
}

[data-md-color-scheme="slate"] .only-dark {
  display: block;
}